<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia-Franco</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div id="wrapper" class="d-flex flex-column">
            <section class="mensaje">
                <p>ENVIOS ZONA CABA ¡GRATIS!</p>
            </section>
            <section class="d-flex align-items-center ps-5 pe-5">
                <div id="logo" class="d-flex align-items-center">
                    <img src="./img/Schnauzer.jpg" alt="schnauzer">
                    <h2>FRANCO-PET</h2>
                </div>
            </section>
            <nav class="navbar navbar-expand-lg navbar-light bg-light h-25 ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./farmacia.html">Farmacia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./juguetes.html">Jugueteria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input v-model="search" class="form-control me-2" type="search"
                                placeholder="Buscar articulo" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="d-flex justify-content-center mt-3">
                <label for="selectOrder">Ordernar por:</label>
                <select v-model="selectOrder" class="ms-2" name="selectOrder" id="selectOrder">
                    <option value="mayor">Precio: Mayor a menor</option>
                    <option value="menor">Precio: Menor a meyor</option>
                </select>
            </div>
            <section class="d-flex justify-content-end">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                    <div id="cart" class="d-flex align-items-center">
                        <img src="./img/shopping.png" alt="cart">
                        <span class="fw-bold">{{amountCart}}</span>
                        <span>Carrito</span>
                    </div>
                </button>
            </section>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">Carrito</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <tbody>
                        <tr>
                            <td>Productos</td>
                            <td>Precio</td>
                        </tr>
                        <!-- <tr v-for="articulo in carts">
                            <td>{{articulo}}</td>
                            <td>{{artticulo}}</td>
                        </tr> -->
                    </tbody>
                </div>
            </div>
            <section class="d-flex justify-content-around flex-wrap">
                <div id="efecto" v-for="(articulo,index) in artMedicamentos" class="row">
                    <div class="card mb-5" style="width: 18rem;">
                        <img :src="articulo.imagen" class="card-img-top" :alt="articulo.nombre">
                        <div class="card-body">
                            <h5 class="card-title">{{articulo.nombre}}</h5>
                            <p class="card-title tw-bold">${{articulo.precio}}</p>
                            <button @click="addtoCart(articulo)" type="button" class="btn btn-info">Comprar</button>
                            <button @click="showDescripcion(articulo)" type="button" class="btn btn-info">Descripcion</button>
                            <p class="card-title fw-bold" v-if="articulo.stock >= 5">¡Stock disponible!</p>
                            <p class="card-title text-danger fw-bold" v-if="articulo.stock < 5">¡Ultimas unidades!</p>
                            <p class="card-title text-danger fw-bold" v-if="articulo.stock == 0">¡Sin stock!</p>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </section>
            <section class="d-flex justify-content-center">
                <div id="mediosdepago">
                    <img src="./img/visa.png" alt="imagen pago">
                    <img src="./img/mercadopago.png" alt="imagen pago">
                    <img src="./img/mastercard.png" alt="imagen pago">
                </div>
            </section>
            <footer class="d-flex justify-content-center align-items-center bg-dark text-white">
                <p class="text-center">Copyright Franco Pet - 2021. Todos los derechos reservados.</p>
            </footer>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>